<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!--_meta 作为公共模版分离出去-->
<th:block th:replace="_meta :: meta"></th:block>
<!--/meta 作为公共模版分离出去-->

    <title>shop后台</title>
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<!--_header 作为公共模版分离出去-->
<div th:replace="_header :: #navbar-wrapper"></div>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<div th:replace="_menu :: #Hui-aside"></div>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> <span class="c-999 en">&gt;</span><span
            class="c-666">空白页</span></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            这是个空白页，请在此处加入您的代码！
        </article>
    </div>
</section>

<!--_footer 作为公共模版分离出去-->
<th:block th:replace="_footer :: footer"></th:block>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:inline="none">

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>