<aside class="Hui-aside" id="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="type-list.html" title="分类管理"id="type-list">分类管理</a></li>
					<li><a href="goods-list.html" title="产品管理" id="goods-list">商品管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 买家管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="buyer-list.html" title="买家列表" id="buyer-list">买家列表</a></li>
					<!--<li><a href="member-del.html" title="删除的会员">删除的会员</a></li>-->
					<!--<li><a href="member-level.html" title="等级管理">等级管理</a></li>-->
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 商家管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="owner-list.html" title="商家列表" id="owner-list">商家列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="order-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="order-list.html" title="角色管理" id="order-list">订单列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<script>

</script>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
