
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!--_meta 作为公共模版分离出去-->
<th:block th:replace="_meta :: meta"></th:block>
    <!--/meta 作为公共模版分离出去-->
    <title>lwc商城后台</title>
</head>
<body>
<!--_header 作为公共模版分离出去-->
<div th:replace="_header :: #navbar-wrapper"></div>
<!--/_header 作为公共模版分离出去-->

<!--_menu 作为公共模版分离出去-->
<div th:replace="_menu :: #Hui-aside"></div>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>
<!--/_menu 作为公共模版分离出去-->

<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
        <span class="c-999 en">&gt;</span>
        <span class="c-666">welcome</span>
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
           href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <h1>Welcome</h1>
    </div>
</section>
<!--_footer 作为公共模版分离出去-->
<th:block th:replace="_footer :: footer"></th:block>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>