<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.lzbin.shop.dao.GoodsItemMapper" >
  <resultMap id="BaseResultMap" type="xyz.lzbin.shop.pojo.GoodsItem" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="INFO" property="info" jdbcType="VARCHAR" />
    <result column="IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="STOCK" property="stock" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="STATUS_TIME" property="statusTime" jdbcType="TIMESTAMP" />
    <result column="STORE_ID" property="storeId" jdbcType="DECIMAL" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="CATEGORY" property="category" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TITLE, INFO, IMG_URL, PRICE, STOCK, STATUS, STATUS_TIME, STORE_ID, SORT, CATEGORY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="xyz.lzbin.shop.pojo.GoodsItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GOODS_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from GOODS_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from GOODS_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.lzbin.shop.pojo.GoodsItemExample" >
    delete from GOODS_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.lzbin.shop.pojo.GoodsItem" >
    insert into GOODS_ITEM (ID, TITLE, INFO, 
      IMG_URL, PRICE, STOCK, 
      STATUS, STATUS_TIME, STORE_ID, 
      SORT, CATEGORY)
    values (#{id,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{stock,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{statusTime,jdbcType=TIMESTAMP}, #{storeId,jdbcType=DECIMAL}, 
      #{sort,jdbcType=DECIMAL}, #{category,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.lzbin.shop.pojo.GoodsItem" >
    insert into GOODS_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="info != null" >
        INFO,
      </if>
      <if test="imgUrl != null" >
        IMG_URL,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="stock != null" >
        STOCK,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="statusTime != null" >
        STATUS_TIME,
      </if>
      <if test="storeId != null" >
        STORE_ID,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
      <if test="category != null" >
        CATEGORY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="statusTime != null" >
        #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=DECIMAL},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=DECIMAL},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.lzbin.shop.pojo.GoodsItemExample" resultType="java.lang.Integer" >
    select count(*) from GOODS_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update GOODS_ITEM
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.info != null" >
        INFO = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null" >
        IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.stock != null" >
        STOCK = #{record.stock,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.statusTime != null" >
        STATUS_TIME = #{record.statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.storeId != null" >
        STORE_ID = #{record.storeId,jdbcType=DECIMAL},
      </if>
      <if test="record.sort != null" >
        SORT = #{record.sort,jdbcType=DECIMAL},
      </if>
      <if test="record.category != null" >
        CATEGORY = #{record.category,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update GOODS_ITEM
    set ID = #{record.id,jdbcType=DECIMAL},
      TITLE = #{record.title,jdbcType=VARCHAR},
      INFO = #{record.info,jdbcType=VARCHAR},
      IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=DECIMAL},
      STOCK = #{record.stock,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      STATUS_TIME = #{record.statusTime,jdbcType=TIMESTAMP},
      STORE_ID = #{record.storeId,jdbcType=DECIMAL},
      SORT = #{record.sort,jdbcType=DECIMAL},
      CATEGORY = #{record.category,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.lzbin.shop.pojo.GoodsItem" >
    update GOODS_ITEM
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        INFO = #{info,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null" >
        STOCK = #{stock,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="statusTime != null" >
        STATUS_TIME = #{statusTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeId != null" >
        STORE_ID = #{storeId,jdbcType=DECIMAL},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="category != null" >
        CATEGORY = #{category,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.lzbin.shop.pojo.GoodsItem" >
    update GOODS_ITEM
    set TITLE = #{title,jdbcType=VARCHAR},
      INFO = #{info,jdbcType=VARCHAR},
      IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      STOCK = #{stock,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      STATUS_TIME = #{statusTime,jdbcType=TIMESTAMP},
      STORE_ID = #{storeId,jdbcType=DECIMAL},
      SORT = #{sort,jdbcType=DECIMAL},
      CATEGORY = #{category,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectGoodsList" parameterType="string" resultMap="BaseResultMap">
    select * from goods_item
    <if test="search != null and search != '%%'">
      WHERE
      (title like #{search})
    </if>
    ORDER BY
    ${orderCol}
    ${orderDir}
  </select>
</mapper>