<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.lzbin.shop.dao.OrderItemMapper" >
  <resultMap id="BaseResultMap" type="xyz.lzbin.shop.pojo.OrderItem" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="BUYER_ID" property="buyerId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="PAY_TIME" property="payTime" jdbcType="TIMESTAMP" />
    <result column="ADDRESS_ID" property="addressId" jdbcType="DECIMAL" />
    <result column="LOGISTICS_ID" property="logisticsId" jdbcType="DECIMAL" />
    <result column="STORE_ID" property="storeId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, BUYER_ID, NAME, TOTAL_PRICE, CREATE_TIME, STATUS, PAY_TIME, ADDRESS_ID, LOGISTICS_ID, 
    STORE_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="xyz.lzbin.shop.pojo.OrderItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ORDER_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ORDER_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ORDER_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.lzbin.shop.pojo.OrderItemExample" >
    delete from ORDER_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.lzbin.shop.pojo.OrderItem" >
    insert into ORDER_ITEM (ID, BUYER_ID, NAME, 
      TOTAL_PRICE, CREATE_TIME, STATUS, 
      PAY_TIME, ADDRESS_ID, LOGISTICS_ID, 
      STORE_ID)
    values (#{id,jdbcType=DECIMAL}, #{buyerId,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{totalPrice,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=DECIMAL}, 
      #{payTime,jdbcType=TIMESTAMP}, #{addressId,jdbcType=DECIMAL}, #{logisticsId,jdbcType=DECIMAL}, 
      #{storeId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="xyz.lzbin.shop.pojo.OrderItem" >
    insert into ORDER_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="buyerId != null" >
        BUYER_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="payTime != null" >
        PAY_TIME,
      </if>
      <if test="addressId != null" >
        ADDRESS_ID,
      </if>
      <if test="logisticsId != null" >
        LOGISTICS_ID,
      </if>
      <if test="storeId != null" >
        STORE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=DECIMAL},
      </if>
      <if test="logisticsId != null" >
        #{logisticsId,jdbcType=DECIMAL},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.lzbin.shop.pojo.OrderItemExample" resultType="java.lang.Integer" >
    select count(*) from ORDER_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ORDER_ITEM
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.buyerId != null" >
        BUYER_ID = #{record.buyerId,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.totalPrice != null" >
        TOTAL_PRICE = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.payTime != null" >
        PAY_TIME = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addressId != null" >
        ADDRESS_ID = #{record.addressId,jdbcType=DECIMAL},
      </if>
      <if test="record.logisticsId != null" >
        LOGISTICS_ID = #{record.logisticsId,jdbcType=DECIMAL},
      </if>
      <if test="record.storeId != null" >
        STORE_ID = #{record.storeId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ORDER_ITEM
    set ID = #{record.id,jdbcType=DECIMAL},
      BUYER_ID = #{record.buyerId,jdbcType=DECIMAL},
      NAME = #{record.name,jdbcType=VARCHAR},
      TOTAL_PRICE = #{record.totalPrice,jdbcType=DECIMAL},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=DECIMAL},
      PAY_TIME = #{record.payTime,jdbcType=TIMESTAMP},
      ADDRESS_ID = #{record.addressId,jdbcType=DECIMAL},
      LOGISTICS_ID = #{record.logisticsId,jdbcType=DECIMAL},
      STORE_ID = #{record.storeId,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.lzbin.shop.pojo.OrderItem" >
    update ORDER_ITEM
    <set >
      <if test="buyerId != null" >
        BUYER_ID = #{buyerId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null" >
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addressId != null" >
        ADDRESS_ID = #{addressId,jdbcType=DECIMAL},
      </if>
      <if test="logisticsId != null" >
        LOGISTICS_ID = #{logisticsId,jdbcType=DECIMAL},
      </if>
      <if test="storeId != null" >
        STORE_ID = #{storeId,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.lzbin.shop.pojo.OrderItem" >
    update ORDER_ITEM
    set BUYER_ID = #{buyerId,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL},
      PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      ADDRESS_ID = #{addressId,jdbcType=DECIMAL},
      LOGISTICS_ID = #{logisticsId,jdbcType=DECIMAL},
      STORE_ID = #{storeId,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>


  <select id="selectOrderList" parameterType="string" resultMap="BaseResultMap">
    select
    o.id as id,
    b.name as name,
    total_price,
    o.create_time as create_time,
    o.status as status,
    pay_time,
    logistics_id,
    address_id
    from order_item o left join buyer b on o.buyer_id = b.id
    <if test="search != null and search != '%%'">
      WHERE
      (o.id like #{search})
    </if>
    ORDER BY
    ${orderCol}
    ${orderDir}
  </select>
</mapper>